<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script type="text/javascript" src="../js/ScripCartas.js"></script>
<body>

<h1>Hola mundo desde index</h1>
<div>

    <div>
        <label>Nombre</label>
        <input id="name"><br>
    </div>

    <div>
        <label>Decripcion</label>
        <input id="descripcion"><br>
    </div>


    <div>
        <label>Penitencia</label>
        <input id="penitencia"><br>
    </div>


    <div>
        <label>Ataque</label>
        <input id="ataque"><br>
    </div>



</div>

<button onclick="CrearCarta()">Crear</button><br>

<div>

    <button onclick="window.location.href='index.html'">Inicio</button>

</div>
</body>
</html>