<!DOCTYPE html>
<html lang="es">
<head>

  <meta charset="utf-8">
  <title>Ganador</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/ganador.css">

</head>

<body>

            <!-- Titulo header de la pagina--BARRA DE NAVEGACION --->
        <header>
          <h1>Ni una Risa XD</h1>
          <nav>
            <ul>
              <li><a href="../../index.html">Inicio</a></li>
              <li><a href="juego.html">Modos de juego</a></li>
              <li><a href="#">Acerca de</a></li>
            </ul>
          </nav>
        </header>
                    <br>
            <!--- Espacio para la imagen del juego -->
        <div id="imagen" >
            
        </div>

        <h1 style="color: rgb(5, 28, 98);""> ¡FELICIDADES!</h1>
<h4>Jugador # ganó la partida</h4>

  

</body>


</html>