<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Juego</title>
  <link rel="stylesheet" href="../css/header.css">
  <link rel="stylesheet" href="../css/juego.css">
</head>

<body>
<header>
  <h1>Ni una Risa XD</h1>
  <nav>
    <ul>
      <li><a href="../../index.html">Inicio</a></li>
      <li><a href="juego.html">Modos de juego</a></li>
      <li><a href="Acerca_de.html">Acerca de</a></li>
    </ul>
  </nav>
</header>

<main>
  <div id="intro">
    <h2>Juego</h2>
    <p>Bienvenido al juego Ni una risa. A continuación, puedes seleccionar el modo de juego:</p>
    <div class="imagenes">
      <img class="onevsone" src="../imagenes/1vs1.jpg" alt="">
    </div>
    <div class="botones">
      <div id="btnJugar">
        <!--<a href="registro2_0.html" class="boton1">Modo 1 vs 1 </a>-->
        <a href="game_1v1.html" class="boton1">Modo 1 vs 1 </a>
      </div>
    </div>
  </div>
</main>
<footer>
  <p>&copy; 2023 - Ni una risa  - Universidad Sergio Arboleda<br/>
    Ingeniería en ciencias de la comnputación e inteligencia artificial
  </p>
</footer>
</body>


</html>