<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sala de Espera</title>
    <link rel="stylesheet" href="../css/sala_espera.css">
    <link rel="stylesheet" href="../css/header.css">
</head>
<body>
    <header>
        <h1>Ni una risa</h1>
        <nav>
            <ul>
                <li><a href="../../index.html">Inicio</a></li>
                <li><a href="juego.html">1 vs 1</a></li>
                <li><a href="Acerca_de.html">Acerca de</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h2>Sala de Espera</h2>
        <p>Por favor, espera a que se una un jugador para comenzar la partida</p>
        <div class="loader"></div>
        <div class="continue-btn">
            <a href="game_1v1.html">Continuar</a>
          </div>
    </main>
    <footer>
        <p>&copy; 2023 - Ni una risa  - Universidad Sergio Arboleda<br/>
          Ingeniería en ciencias de la comnputación e inteligencia artificial
        </p>
      </footer>
</body>
</html>